html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    background-size: cover;
}
.loginbox{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginbox .login_title{
    height: 60px;
    background: url(../images/login_title.png) no-repeat;
    background-position: center;
}
.loginbox .user_register{
    display: none;
}
.login-form{
    padding: 0 60px;
}
.reg-form{
    display: none;
    padding: 0 60px;

}
.username{
    position: absolute;
    top: 69px;
    left: 63px;
}
.password{
    position: absolute;
    top: 122px;
    left: 63px;
}
.passwordconfirm{
    position: absolute;
    top: 176px;
    left: 63px;
}
input{
    padding-left: 27px !important;
}
a:first-child{
    position: absolute;
    right: 60px;
    margin-top: 40px;
}
a:last-child{
    position: absolute;
    right: 60px;
    margin-top: 40px;
    
}